AI_TRADING_DASHBOARD_PASSWORD=ganti_password_ini
AI_TRADING_DUPLICATE_POLICY=skip
AI_TRADING_PREDICTION_RUN_TYPE=FINAL
MONGODB_URI=mongodb+srv://USER:PASSWORD@CLUSTER.mongodb.net/?retryWrites=true&w=majority
MONGODB_DATABASE=ai_trading
